---
apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
    controller-tools.k8s.io: "1.0"
  name: {{ mig_namespace }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: mig
  namespace: {{ mig_namespace }}
  labels:
    component: mig
---
apiVersion: rbac.authorization.k8s.io/v1
{% if dedicated_admin_mode == false %}
kind: ClusterRoleBinding
{% else %}
kind: RoleBinding
{% endif %}
metadata:
  name: mig-cluster-admin
{% if dedicated_admin_mode == true %}
  namespace: {{ mig_namespace }}
{% endif %}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
{% if dedicated_admin_mode == false %}
  name: cluster-admin
{% else %}
  name: admin
{% endif %}
subjects:
- kind: ServiceAccount
  name: mig
  namespace: {{ mig_namespace }}
