---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: migration-controller-{{ namespace }}
  namespace: {{ mig_namespace }}
  labels:
    component: migration-controller
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: RoleBinding
metadata:
  name: migration-controller
  namespace: {{ namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: migration-controller
subjects:
- kind: ServiceAccount
  name: migration-controller-{{ namespace }}
  namespace: {{ mig_namespace }}
